@import '../../abstracts/breakpoints';
@import '../../abstracts/colours';
@import '../../abstracts/mixins';

.cart {
    @include centeredFlexColumn;
    margin-top: 10vh;

    @media (min-width: $tablet) {
        margin: 0;
    }

    .current-cart ul {
        @include centeredFlexColumn;
    }
    
    .single-cart-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        border-radius: 25px;
        box-shadow: $box-shadow-style;
        margin: 2vh 0;
        @media (min-width: $tablet) {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 30vh;
        }

        img {
            display: block;
            max-width: 20vw;
            margin-top: 5vh;
            @media (min-width: $tablet) {
                position: absolute;
                max-width: 10vw;
                margin: 0 10vw;
            }        
        }

        .direction-responsive {
            display: flex;
            flex-direction: column;
            margin-bottom: 5vh;
            @media (min-width: $tablet) {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: absolute;
                margin-right: 5vw;
                right: 5vw;
            } 
        }

        .column-desktop {
            p {
                width: 60vw;
                @media (min-width: $tablet) {
                    width: 20vw;
                }
            }
            @media (min-width: $tablet) {
                display: flex;
                flex-direction: column;
            } 
        }

        .amount-to-cart {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 2vh;
            @media (min-width: $tablet) {
                margin: 0 8vw;
            }  
            .amount {
                text-align: center;
                margin: 0 2vw;
                @media (min-width: $tablet) {
                    margin: 0 1vw;
                }    
            }
        }
    }

    .final-option-buttons {
        display: flex;
        flex-direction: column;
        @media (min-width: $tablet) {
            flex-direction: row;

        }
    }

    .final-option-buttons {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
        @media (min-width: $tablet) {
            flex-direction: row;
        }

        & > * {
            margin: 2vh 5vw;
        }
    }

    .all-carts ul {
        display: flex;
        flex-direction: column;

        .single-cart {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80vw;
            border-radius: 25px;
            box-shadow: $box-shadow-style;
            margin-bottom: 2vh;

            img {
                max-height: 15vh;
                left: 10vw;

            }

            p {
                font-size: small;
                @media (min-width: $tablet) {
                    width: 20vw;
                }
            }

            .row {
                display: flex;
                flex-direction: row;
                margin-bottom: 5vh;
            }
    
            .column {
                display: flex;
                flex-direction: column;
                p {
                    padding: 0 5vw;
                    margin-bottom: 0;
                }
            }
        }
    }
}
