$colour-header: black;
$colour-header-elements: white;
$colour-text: black;
$colour-filters-desktop: #e9ecef;
$colour-search: #f8f9fa;
$colour-descriptions: #ced4da;
$colour-button: black;
$colour-button-text: white;
$colour-hover: #e63946;
$box-shadow-style: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;