@mixin atLarge(){
    @media screen and (min-width: $MEDIUM){
        @content;
    }
}

@mixin centeredFlexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}