@import './colours';

@mixin centeredFlexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin linkStyle {
    transition: 0.4s;
    &:hover {
        color: $colour-hover;
        transform: scale(1.05);
    }
}