@import '../../abstracts/mixins';
@import '../../abstracts/breakpoints';
@import '../../abstracts/colours';

.product-selected {
    @include centeredFlexColumn;
    width: 100vw;
    height: 80vh;
    @media (min-width: $tablet) {
        flex-direction: row;
        width: 100vw;
        height: 80vh;
    }

    img {
        max-width: 60vw;
        max-height: 50vh;
        @media (min-width: $tablet) {
            max-width: 50vw;
            max-height: 50vh;
            margin-right: 5vw;
            box-shadow: $box-shadow-style;
            border-radius: 25px;
            padding: 5vh;
        }    
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80vw;
        @media (min-width: $tablet) {
            width: 30vw;
        }   
        
        .amount-to-cart {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 2vh;

            button {
                border-radius: 50%;
                width: 12vw;
                height: 12vw;
                @media (min-width: $tablet) {
                    width: 5vh;
                    height: 5vh;
                }    
            }

            .amount {
                text-align: center;
                margin: 0 2vw;
                @media (min-width: $tablet) {
                    margin: 0 1vw;
                }    
            }
        }
    }

    /* THIS BUTTON IS NOT DETECTED */
    .added-to-cart-button {
        width: 30vw;
        @media (min-width: $tablet) {
            height: 5vh;
        }
    }

    .added-to-cart-modal {
        display: block; 
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    
        .modal-content {
            background-color: #fefefe;
            margin: 20vh auto;
            padding: 5vw;
            border: none;
            border-radius: 25px;
            width: 80vw;

            @media (min-width: $tablet) {
                margin: 5vh auto;
                padding: 1vw;
                width: 40vw;

                img {
                    box-shadow: none;
                }
            }    

            .close-button {
                align-self: flex-end;
                cursor: pointer;
            }
        }
    }
}