@import '../../abstracts/mixins';
@import '../../abstracts/breakpoints';

.product {
    @include centeredFlexColumn;
    width: 80vw;
    height: 40vh;
    padding: 5vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    @media (min-width: $tablet) {
        width: 25vw;
        height: 40vh;
        padding: 5vh 0;
    }

    img {
        max-width: 60vw;
        max-height: 20vh;
        @media (min-width: $tablet) {
            max-width: 20vw;
            max-height: 20vh;
        }    
    }
}