@import '../../abstracts/mixins';
@import '../../abstracts/breakpoints';
@import '../../abstracts/colours';

.product-link {
    text-decoration: none;
}

.product {
    // @include centeredFlexColumn;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 2vh;
    text-decoration: none;
    border-radius: 25px;
    background-color: white;
    box-shadow: $box-shadow-style;
    transition: 0.4s; 
    @media (min-width: $tablet) {
        // width: 15vw;
        // height: 40vh;
        // padding: 5vh;
    }

    .product-info {
        // width: 15vw;
        // height: 20vh;
        background-color: $colour-descriptions;
        color: $colour-text;
        border-radius: 0 0 25px 25px;
        // padding: 5vh;
        padding: 0 2vw;
    }

    img {
        max-width: 60vw;
        max-height: 20vh;
        margin: 2vh 0;
    }

    @media (min-width: $tablet) {
        &:hover {
            transform: scale(1.1);
        }
    }  
}