@import '../../abstracts/breakpoints';
@import '../../abstracts/colours';
@import '../../abstracts/mixins';

.app-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: $colour-header;
    color: $colour-header-elements;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    z-index: 1;

    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 0 5vw;
    }

    .header-link {
        text-decoration: none;
        color: $colour-header-elements;
        h1 {
            font-family: 'Lobster', cursive;
        }
    }

    .hamburger {
        @media (min-width: $tablet) {
            display: none;
        }
    }

    .header-options {
        display: none;
        @media (min-width: $tablet) {
            display: flex;
            align-items: center;
        }

        .direct-to-cart, .direct-to-profile {
            margin: 1vw;
            cursor: pointer;
        }

        button {
            @include linkStyle;
            background-color: white;
            color: black;
            margin: 1vw;
        }
    }
}