@import '../../abstracts/breakpoints';
@import '../../abstracts/colours';

.app-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    justify-content: center;
    background-color: $colour-header;
    color: $colour-header-elements;
    position: fixed;
    top: 0;
    // left: 0;
    width: 100vw;
    height: 10vh;
    margin: 0;
    z-index: 1;
    .header-link {
        text-decoration: none;
        color: $colour-header-elements;
        h1 {
            font-family: 'Lobster', cursive;
        }
    }
   
    @media (min-width: $tablet) {
        grid-template-columns: 2fr 1fr;
        padding-right: 0;
    }

    .hamburger {
        @media (min-width: $tablet) {
            display: none;
        }
    }

    .header-options {
        display: none;
        @media (min-width: $tablet) {
            display: flex;
            flex-direction: row;
        }

        .direct-to-cart, .direct-to-profile {
            cursor: pointer;
        }
    }
}