@import './abstracts/mixins';
@import './abstracts/breakpoints';
@import './abstracts/colours';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.filter-search {
  @media (min-width: $tablet) {
    background-color: $colour-filters-desktop;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 5vh;
    position: fixed;
    z-index: 1;
    top: 10%;
    box-shadow: $box-shadow-style;
  }

  .navigation ul {
    @include centeredFlexColumn;
    display: none;
    background-color: $colour-header;
    width: 100vw;
    height: 90vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 10vh;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    @media (min-width: $tablet) {
      background-color: $colour-filters-desktop;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 70vw;
      height: 4vh;
      font-weight: 600;
    }

    li {
        @include linkStyle;
        margin: 2vh 10vw;
        @media (min-width: $tablet) {
          margin: 0;
          cursor: pointer;
        }
    }
  
    hr {
      border: none;
      height: 1px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
      margin: 5vh 10vw;
      width: 80vw;
      @media (min-width: $tablet) {
          display: none;
      }
    }
  }
}

main {
  width: 100vw;
  height: 85vh;
  @media (min-width: $tablet) {
    margin-top: 20vh;
  }
}

button {
  background-color: $colour-button;
  color: $colour-button-text;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: $colour-hover;
  }

  &:disabled {
    background-color: $colour-filters-desktop;
  }
}

.filter, .nav-link {
  @include linkStyle;
  color: $colour-header-elements;
  text-decoration: none;
}

.filter {
  @media (min-width: $tablet) {
    color: $colour-text;
  }
}

.nav-link {
  @media (min-width: $tablet) {
    color: $colour-header-elements;
  }
}
