@import './abstracts/mixins';
@import './abstracts/breakpoints';
@import './abstracts/colours';

.App {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.filter-search {
  @media (min-width: $tablet) {
    background-color: $colour-filters-desktop;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 5vh;
    position: fixed;
    z-index: 1;
    top: 10%;
  }

  .navigation ul {
    @include centeredFlexColumn;
    display: none;
    background-color: $colour-header;
    width: 100vw;
    height: 90vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 10vh;
    text-align: left;
    margin: 0;
    overflow: hidden;
    @media (min-width: $tablet) {
      background-color: $colour-filters-desktop;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 70vw;
      height: 5vh;
    }

    li {
        @include linkStyle;
        margin: 2vh 0;
        @media (min-width: $tablet) {
            margin: 0;
            cursor: pointer;
        }
    }
  
    hr {
      margin: 5vh 0;
      width: 60vw;
      @media (min-width: $tablet) {
          display: none;
      }
    }
  }
}

main {
  margin-top: 15vh;
  height: 85vh;
}

button {
  background-color: $colour-button;
  color: $colour-button-text;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: $colour-hover;
  }

  &:disabled {
    background-color: $colour-search;
  }
}

.filter, .nav-link {
  @include linkStyle;
  color: $colour-header-elements;
  text-decoration: none;
}

.filter {
  @media (min-width: $tablet) {
    color: $colour-text;
  }
}

.nav-link {
  @media (min-width: $tablet) {
    color: $colour-header-elements;
  }
}
