@import './abstracts/mixins';
@import './abstracts/breakpoints';
@import './abstracts/colours';

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  
  .error {
    @include centeredFlexColumn;
  }
}

.opening-loader,
.loader-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opening-loader {
  height: 100vh;
}

.loader-container {
  height: 50vh;
}

.filter-search {
  @media (min-width: $tablet) {
    background-color: $colour-filters-desktop;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 5vh;
    position: fixed;
    z-index: 1;
    top: 10%;
    box-shadow: $box-shadow-style;
  }

  .navigation ul {
    background-color: $colour-header;
    width: 100vw;
    height: 90vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 10vh;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    @media (min-width: $tablet) {
      background-color: transparent;
      flex-direction: row;
      justify-content: space-between;
      width: 60vw;
      margin: 0 5vw;
      height: 4vh;
      font-weight: 600;
    }

    .nav-link {
      padding-top: 1vh;
    }

    li {
        @include linkStyle;
        margin: 2vh 10vw;
        @media (min-width: $tablet) {
          margin: auto;
          cursor: pointer;
        }
    }
  
    hr {
      border: none;
      height: 1px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
      margin: 5vh 10vw;
      width: 80vw;
      @media (min-width: $tablet) {
          display: none;
      }
    }
  }
}

main {
  width: 100vw;
  height: 85vh;
  @media (min-width: $tablet) {
    margin-top: 20vh;
  }
}

button {
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: $colour-button;
  color: $colour-button-text;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: $colour-hover;
  }

  &:disabled {
    background-color: $colour-filters-desktop;
  }
}

.filter, .nav-link {
  @include linkStyle;
  color: $colour-header-elements;
  text-decoration: none;
}

.filter {
  @media (min-width: $tablet) {
    color: $colour-text;
  }
}

.nav-link {
  @media (min-width: $tablet) {
    color: $colour-header-elements;
  }
}

.form-login,
.form-register {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  text-transform: uppercase;
  @media (min-width: $tablet) {
    width: 50vw;
    margin: auto;
    align-items: center;
  }

  > * {
    @media (min-width: $tablet) {
      width: 20vw;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  label {
    margin-top: 4vh;
  }

  button {
    @include linkStyle;
    margin: 6vh 0;
    @media (min-width: $tablet) {
      width: 20vw;
      margin: 4vh 0;
    }  

    &:hover {
      color: $colour-header-elements;
    }
  }
}

.form-register {
  .required:after {
    content:' *';
    color: $colour-hover;
  }
}

.login-success,
.to-login-register {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;

  p {
    width: 60vw;
    text-align: center;
  }

  button {
    width: 80vw;
    margin-bottom: 2vh;
    @media (min-width: $tablet) {
      width: 20vw;
    }
  }
}

// footer {
//   background-color: $colour-header;
//   color: $colour-header-elements;
//   position: relative;
//   bottom: 0;
//   width: 100%;
// }
